html{
    background-color: #DBDAD6;
  }

body {
    background-color: #DBDAD6 !important;
    font-family: "Lucida Console", "Andale Mono", monospace !important;

  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  hr {
    height: 3px;
    background-color: #b4c3c0;
    border: none;
    margin: 0;
  }
  
  .container-fluid {
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .btn-danger {
    background-color: #b4c3c0;
    border: none;
    border-radius: 30px 0 0 30px !important;
  }
  
  .btn-primary {
    background-color: #ebede8;
    border-color: #b4c3c0;
    border-radius: 0 30px 30px 0 !important;
  }
  
  table {
    border-radius: 45px 50px !important;
    font-size: 18px;
  }
  
  th {
    background-color: #DBDAD6;
    color: #000000;
    border-radius: 45px 50px !important;

  }
  
  td {
    background-color: #ababab95;
    color: #000000;
    font-weight: bold;
  }
  